<div class="user">
  <h3>
        Usuario: <%= get_cedula %>
        <div class="ultima">Su ultima visita a la plataforma fue: <%= get_ultima_visita %></div><br />
        Cooperativa: <%= get_cooperativa %>

  </h3>
</div>

<table class="detallesCuenta">
  <tr>
    <td>Cuenta # </td>
    <td><%= params[:cuenta] %></td>
  </tr>
  <tr>
    <td>Tipo </td>
    <td><%= params[:tipo] %></td>
  </tr>
  <tr>
    <td>Saldo </td>
    <td><%= params[:saldo] %></td>
  </tr>
</table>

<table class="detalles">
  <tr>
     <th colspan="4" class="titulo">Movimientos</th>
  </tr>
  <tr>
    <th class="titulo2">Fecha y Hora</th>
    <th class="titulo2">Lugar</th>
    <th class="titulo2">Transacción</th>
    <th class="titulo2">Monto</th>
  </tr>
  <% @detalles.each do |detalle| %>
    <tr>
      <td><%= detalle.split("// ")[0] %></td>
      <td><%= detalle.split("// ")[1] %></td>
      <td></td>
      <td><%= number_to_currency(detalle.split("// ")[2]) %></td>
    </tr>
  <% end %>
</table>
