
<div class="login" >
<h1>Ingreso</h1>
<%= form_tag("/users/new", :method => "post") do %>

<table class="ingreso">
  <tr>
    <td><%= label_tag(:cedula, "Cedula:") %></td>
    <td><%= text_field_tag(:cedula) %></td>
  </tr>
  <tr>
    <td><%= label_tag(:password, "Password:") %></td>
    <td><%= password_field_tag(:password) %></td>
  </tr>
  <tr>
    <td><%= label_tag(:cooperativa, "Cooperativa:") %></td>
    <td><%= select_tag(:cooperativa, options_for_select(@cooperativas)) %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag("Continuar",:class => "submit") %></td>
  </tr>
</table>
<% end %>
</div>

