
<div class="user_info">
  <div class="user">
    <h2>Hola James Benitez</h2>
    <h4>Su ultima visita a la plataforma fue <%= Time.now.asctime %></h4>
  </div>
  <div class="cuentas">
    <table class="tabla izq">

      <tr>
        <th colspan="4" class="tabla-izq" width="50%">Ahorros</th>
      </tr>
      <tr>
        <th class="titulo2">Cooperativa</th>
        <th class="titulo2">Nombre de cuenta</th>
        <th class="titulo2">Numero</th>
        <th class="titulo2">Saldo Disponible</th>
      </tr>
       <tr>
         <td>oeooeoe</td>
         <td>oeooeoe</td>
         <td>oeooeoe</td>
         <td>oeooeoe</td>
       </tr>
      <% @response1.each do |dato|%>
      <tr>
        <td><%= dato[0] %></td>
        <td><%=dato[1]%></td>
        <td><%=link_to dato[2], '#'%></td>
        <td><%= number_to_currency(dato[3]) %></td>

      </tr>
      <% end %>
      <tr>
        <td class="espacio" colspan="2"></td>
        <td class="total izq">Total</td>
        <td class="total der"><strong><%= number_to_currency(total(@response1)) %></strong></td>
      </tr>

    </table>


    <table class="tabla der">
      <tr>
        <th colspan="4" class="tabla-der" width="50%">Creditos</th>

      </tr>

      <tr>
        <th class="titulo2">Cooperativa</th>
        <th class="titulo2">Tipo de credito</th>
        <th class="titulo2">Numero</th>
        <th class="titulo2">Saldo </th>
      </tr>

      <% @response2.each do |dato|%>
          <tr>
            <td><%= dato[0] %></td>
            <td><%=dato[1]%></td>
            <td><%=link_to dato[2], '#'%></td>
            <td><%= number_to_currency(dato[3]) %></td>

          </tr>
      <% end %>
      <tr>
        <td class="espacio" colspan="2"></td>
        <td class="total izq">Total</td>
        <td class="total der"><strong><%= number_to_currency(total(@response2)) %></strong></td>
      </tr>
    </table>

  </div>
  <div class="ajustar"></div>
</div>

